
@{
    ViewData["Title"] = "Upload";
}
@addTagHelper *,Microfost.AspNetCore.Mvc.TagHelpers
@addTagHelper *,AuthoringTagHelpers

<form asp-action="Upload" method="post" enctype="multipart/form-data">

    <div>
        <input type="file" name="File" />
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
<h1>Upload</h1>

